.github
.nyc_output/
dist/
docs/
logs/
node_modules/
syntest/
.*
*.json
*.md
LICENSE*
Dockerfile

# The instrumentation files are copied from istanbul (and modified).
# In the future in a big refactor the instrumentation should be redone such that these files dont have to be ignored anymore.
packages/javascript/lib/instrumentation/Instrumenter.ts
packages/javascript/lib/instrumentation/VisitState.ts
packages/javascript/lib/instrumentation/Visitor.ts